In [3]:
a=[1,2,3, 'hello']
type(a)

list

In [7]:
b="art of war"
type(b)

str

In [11]:
c=[1, 2, 3, 4, 'hello',True]
type(c)

list

In [12]:
c[2::-1]

[3, 2, 1]

In [13]:
s= "abcd" #refernce string

In [32]:
e= "xywz" #encoded string

In [47]:
user = 'b'

In [36]:
user_index= s.find(user)

In [48]:
if user_index != -1:
    print(e[user_index])
else:
    print("not found")

not found

In [37]:
user_index

-1

In [38]:
e[user_index]

'z'

In [49]:
if s=="he" :
    print("hello inside true block")
else:
    print("simple exit")

simple exit

In [50]:
a=["a", "hello","c"]

In [51]:
for item in a:
    print(item)
    print("")

a

hello

c

In [52]:
a="ahjhjhjh"

In [53]:
for item in a:
    print(item)
    print("")

a

h

j

h

j

h

j

h

In [58]:
s="abcd"

In [56]:
e="xywz"

In [59]:
user_list = 'b+a'

In [60]:
for user in user_list:
    user_index=s.find(user)
    if user_index != -1:
        print(e[user_index])
    else:
        print("not found")

y
x

In [87]:
s="abcd"

In [88]:
e="xywz"

In [89]:
user_list='ba'

In [90]:
answer=""
for user in user_list:
    user_inder=s.find(user)
    if user_index != -1:
        answer =answer+e[user_index]
    else:
        print("not found")
print(answer)

xx

In [92]:
def my_sum(s1,s2); #define , #function ,#parametre
    print("first string" + s1)
    print(second string" + s2)
    print(s1+s2)

SyntaxError: invalid syntax (<ipython-input-92-c6bd56a039c9>, line 1)

In [93]:
def enconder(user_list);
  answer=""
for user in user_list:
    user_inder=s.find(user)
    if user_index != -1:
        answer =answer+e[user_index]
    else:
        print("not found")
return answer

SyntaxError: invalid syntax (<ipython-input-93-345be1398d05>, line 1)

In [94]:
d={'a' :1, 'b' :2, 'c':3}

In [95]:
type(d)

dict

In [97]:
for key1 in d:
    print(d[key1])

1
2
3

In [ ]:
import pandas

In [104]:
df=pandas.DataFrame({'a':[1,2], 'b': [3,4]})

In [106]:
type(df)

pandas.core.frame.DataFrame

In [107]:
len(df)

2

In [116]:
import pandas as pd

In [124]:
df=pd.read_csv ("physician_rx.csv")

In [125]:
df.head()

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [129]:
df[["PHYSICIAN", "AllergyMax_RX"]] [0:4] #1st one column name in form of list and gave row name SLOWER METHOD

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0

In [131]:
df.loc[0:4, ["PHYSICIAN","AllergyMax_RX"]] #dealing with lables not integers ,nothing to do with index (PREFERABLE for fixed column name)

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0
4  AP3185026           1080

In [139]:
df.iloc[0:4,0:3] #1st column then row

   PHYSICIAN  CroMax_RX  GlycoMax_RX
0  AP1912920        0.0           50
1  AP1350415     2370.0         1320
2  AP0129322        0.0           85
3  AP0462902       30.0          570

In [140]:
#BOOL

In [141]:
my_df= df[df["CroMax_RX"]>50]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
5   AP3674571       70.0           40              0         64           0
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
11  AP1595288      160.0           35             45          0           0
13  AP1365782      400.0           15            255        704         444
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0

In [143]:
df[(df["CroMax_RX"]>50) & (df["GlycoMax_RX"] >50)] ["PHYSICIAN"]

1     AP1350415
7           NaN
10    AP1934892
14          NaN
16    AP0036951
21    AP1332969
22    AP2130355
23    AP0714887
26          NaN
29    AP0089696
31    AP0692473
40    AP0438309
42    AP1326350
53    AP1976314
55    AP3632706
56    AP1871832
57    AP0092627
59    AP1815618
64    AP0093884
67    AP0476079
68    AP1822470
71    AP0118925
74    AP1869077
76    AP1230067
79    AP1336198
82    AP1834639
85    AP0478796
87    AP2459335
89    AP0433841
96    AP1273998
Name: PHYSICIAN, dtype: object

In [144]:
df.head()

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [145]:
df.iloc[0:1,0:1]

   PHYSICIAN
0  AP1912920

In [147]:
df.iat[0,0] #try to get some rows or column (design single cell) MUch faster than iloc/loc for scalar value

'AP1912920'

In [148]:
df.at[0,"PHYSICIAN"]

'AP1912920'

In [149]:
df.iloc[0,0]

'AP1912920'

In [150]:
my_value=df.isnull().sum() #for missing value and

PHYSICIAN        4
CroMax_RX        4
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [151]:
#which records have missing values= filter

In [155]:
df[df["CroMax_RX"].isnull()]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
33  AP0464297        NaN          405              0          0          36
48  AP1948690        NaN          105            690          8           0
65  AP2102094        NaN          220              0        432         216
88  AP0812453        NaN           45              0          0         264

In [156]:
#pick data from c;lumn and fill with and put back

In [162]:
df["CroMax_RX"]= df["CroMax_RX"].fillna(0) #fill value

In [160]:
df.isnull().sum()

PHYSICIAN        4
CroMax_RX        4
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [163]:
df=df.dropna() #delete values

In [164]:
#change column name

In [165]:
df.columns = ['PHY','CroMax_RX','GlycoMax_RX', 'AllergyMax_RX','FevMax_RX','ColdMax_RX'] #right all column name to rename

In [166]:
df=df.rename(columns={'PHY':'Physician'}) #replace old cloumn name with new name physcisian

In [167]:
df.head()

   Physician  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [168]:
#for pattern base we need the operation of string

In [169]:
"hello world" .replace ("l","z") #only meant for string and pandas

'hezzo worzd'

In [170]:
df.columns.str.replace("_",".")

Index(['Physician', 'CroMax.RX', 'GlycoMax.RX', 'AllergyMax.RX', 'FevMax.RX',
       'ColdMax.RX'],
      dtype='object')

In [171]:
#to check the head, assign as

In [172]:
df.columns=df.columns.str.replace("_",".")

In [173]:
df.head()

   Physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [174]:
#now change the AP TO AB in physician list. we have the same syntex, subset and find out which column needs to be iperate

In [175]:
df["Physician"]=df["Physician"].str.replace("AP","AB")

In [176]:
df.head()

   Physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  AB1912920        0.0           50            510        152           0
1  AB1350415     2370.0         1320             60       1416        2676
2  AB0129322        0.0           85              0          0         144
3  AB0462902       30.0          570              0        128        3900
4  AB3185026        0.0           40           1080          0           0

In [193]:
df["bucket"]="B2"

In [178]:
df.head()

,Physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket
0,AB1912920,0.0,50,510,152,0,B1
1,AB1350415,2370.0,1320,60,1416,2676,B1
2,AB0129322,0.0,85,0,0,144,B1
3,AB0462902,30.0,570,0,128,3900,B1
4,AB3185026,0.0,40,1080,0,0,B1

In [179]:
#filtering functions are (loc,iloc)

In [196]:
df.loc[(df["CroMax.RX"] > 50) & (df["GlycoMax.RX"] > 50),"bucket"]="B1"

In [197]:
df.head()

,Physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket
0,AB1912920,0.0,50,510,152,0,B2
1,AB1350415,2370.0,1320,60,1416,2676,B1
2,AB0129322,0.0,85,0,0,144,B2
3,AB0462902,30.0,570,0,128,3900,B2
4,AB3185026,0.0,40,1080,0,0,B2

In [198]:
#column name new physician concated B1 AND _ OPERATOR. Try plus operator and add both column

In [200]:
df["new_Physician"]=df["bucket"]+"_" + df["Physician"]

In [201]:
df.head()

,Physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket,new_Physician
0,AB1912920,0.0,50,510,152,0,B2,B2_AB1912920
1,AB1350415,2370.0,1320,60,1416,2676,B1,B1_AB1350415
2,AB0129322,0.0,85,0,0,144,B2,B2_AB0129322
3,AB0462902,30.0,570,0,128,3900,B2,B2_AB0462902
4,AB3185026,0.0,40,1080,0,0,B2,B2_AB3185026

In [213]:
df= df[['new_Physician', 'CroMax.RX', 'GlycoMax.RX', 'AllergyMax.RX', 'FevMax.RX',
       'ColdMax.RX']]

In [211]:
df.head() #to replace one column with other, just pull all the colulmns by df.coulmns and cut paste .

,new_Physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket
0,B2_AB1912920,0.0,50,510,152,0,B2
1,B1_AB1350415,2370.0,1320,60,1416,2676,B1
2,B2_AB0129322,0.0,85,0,0,144,B2
3,B2_AB0462902,30.0,570,0,128,3900,B2
4,B2_AB3185026,0.0,40,1080,0,0,B2

In [214]:
"hello_world" .split("_")

['hello', 'world']

In [217]:
df.head()

  new_Physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  B2_AB1912920        0.0           50            510        152           0
1  B1_AB1350415     2370.0         1320             60       1416        2676
2  B2_AB0129322        0.0           85              0          0         144
3  B2_AB0462902       30.0          570              0        128        3900
4  B2_AB3185026        0.0           40           1080          0           0

In [ ]:
#use square brakctes to extract
df["new_Physician"]=df["new_Physician"].str.split("_").str[1]
df["bucket"]=df["new_Physician"].str.split("_").str[0]

In [229]:
df.head()

   new_Physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0            NaN        0.0           50            510        152           0
1            NaN     2370.0         1320             60       1416        2676
2            NaN        0.0           85              0          0         144
3            NaN       30.0          570              0        128        3900
4            NaN        0.0           40           1080          0           0